@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  opacity: 0;
  /* make things invisible upon start */

  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.fadeIn.fadeIn--one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.fadeIn.fadeIn--two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.fadeIn.fadeIn--three {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 150%;
  background-color: #00bcd4;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
::selection {
  background: #00bcd4;
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  max-width: 400px;
  height: 100vh;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 10px gray;
  text-align: center;
  position: relative;
}
@media (max-width: 500px) {
  .content {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
.content .logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: #00bcd4;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
}
.content .name {
  font-weight: 100;
  font-size: 200%;
  margin-bottom: 20px;
}
.content .description {
  margin-bottom: 60px;
}
.content .contact {
  border-top: 1px solid #00bcd4;
  border-bottom: 1px solid #00bcd4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content .imprint {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 80%;
  line-height: 80%;
}
.content .imprint a {
  color: gray;
}
(node:5304) DeprecationWarning: util.print is deprecated. Use console.log instead.
